<footer>
  <div class="footer-content">
    <p class="copyright">
      <i class="bx bx-copyright"></i> 2024 Aether. Todos los derechos
      reservados.
    </p>
    <div class="social-links">
      <a
        href="https://facebook.com"
        target="_blank"
        title="Facebook"
        aria-label="Visita nuestro Facebook"
      >
        <i class="bx bxl-facebook"></i>
      </a>
      <a
        href="https://instagram.com"
        target="_blank"
        title="Instagram"
        aria-label="Síguenos en Instagram"
      >
        <i class="bx bxl-instagram"></i>
      </a>
      <a
        href="https://github.com"
        target="_blank"
        title="GitHub"
        aria-label="Visita nuestro GitHub"
      >
        <i class="bx bxl-github"></i>
      </a>
    </div>
  </div>
</footer>
